* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*#######################################
*
*
*             Background Image and Logo Section
*
*
*#######################################*/

body {
  background-image: url("../images/background.png");
  background-color: #FFCCCC;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  width: 500px;
}

/*#######################################
*
*
*            Fonts
*
*
*#######################################*/

h1 {
  font-family: 'Grand Hotel', cursive;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0px;
  line-height: 25px;
}

/*#######################################
*
*
*             Header
*
*
*#######################################*/

header {
  position: fixed;
  z-index: 99;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  padding: 10px 100px;
  background-image: url("../images/background.png");
  background-color: #FFCCCC;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

header nav ul {
  text-align: center;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Monsterrat', sans-serif;
  margin: 0 20px;
}

header ul li a {
}

header ul li a:hover {
  color: #333;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

a:visited {
  color: #707070;
}

/*#######################################
*
*
*             Container
*
*
*#######################################*/


.container {
  position: relative;
  top: 265px;
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  text-align: left;
  color: #CC9933;
  margin: 10px 0 20px;
  font-size: 40px;
}

p::first-line {
  font-weight: bold;
}

/*#######################################
*
*
*             Home
*
*
*#######################################*/

#homekelly {
  width: 300px;
  float: left;
  margin: 4px 20px 4px 0px;
  border: 3px solid #CC9933;
}

/*#######################################
*
*
*             About
*
*
*#######################################*/

aside {
  height: 500px;
  width: 230px;
  position: relative;
  float: left;
}
.college-logo1 {
  height: 150px;
  position: relative;
  float: left;
  top: 400px;
  left: 40px;
}

.college-logo2 {
  height: 120px;
  position: relative;
  float: left;
  top: 430px;
  left: 20px;
}

.about-photo {
  width: 300px;
  float: right;
  margin: 4px 0px 4px 20px;
  border: 3px solid #CC9933;
}

/*#######################################
*
*
*             Work
*
*
*#######################################*/

.disclaimer {
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0px;
  line-height: 25px;
}
.gallery {
  text-align: center;
}

.gallery img {
  height: 295px;
  margin: 10px;
  border: 3px solid #CC9933;
}

span.lb-caption {
  font-size: 16px !important;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.gallery img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*#######################################
*
*
*             Resume
*
*
*#######################################*/

.experience {
  display: inline-block;
  padding: 0px 20px;
}

.star {
  height: 20px;
}

h2 {
  font-size: 18px;
}

ul {
    list-style-type: none;
}

ul li {
  font-family: "Monserrat", sans-serif;
}

/*#######################################
*
*
*             Contact
*
*
*#######################################*/

#letter {
  width: 175px;
  float: right;
  padding-right: 200px;

}
.contact-section {
  width: 600px;
  margin: 0 auto;
}

.kelly-contact div {
  margin: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
}

.kelly-contact input,
.kelly-contact textarea {
  border: 3px solid #CC9933;
  padding: 9px 11px;
  font-size: 14px;
}

.submit input {
  background: #CC9933;
  color: white;
  font-family: 'Monserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px 30px;
}

/*#######################################
*
*
*             Footer
*
*
*#######################################*/

footer {
  text-align: right;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px 20px 10px 0;
}

.contact-footer {
  display: block;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Monsterrat', sans-serif;
}

.contact-footer:hover {
  color: #333;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

footer img{
  height: 50px;
}
